.retratoguten {
  width: 200px;
  height: 250px;
  float: left;
  border-radius: 50%;
}

/* TIME-LINE */

.div-timeline {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.div-timeline-right {
  align-items: flex-end;
}

.line-time {
  height: 100px;
  width: 30px;
  border-radius: 20%;
}

.line-time-orange {
  background-color: #f4a45f;
}

.line-time-red {
  background-color: #c25555;
}

.line-time-blue {
  background-color: #71b8d0;
}

.line-time-margin-left {
  margin-left: 41px;
}

.line-time-margin-right {
  margin-right: 41px;
}

button {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 50%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  width: 70px;
  height: 70px;
}

.button-margin-left {
  margin-left: 20px;
}

.button-margin-right {
  margin-right: 20px;
}


.rules-game {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;

}

.rules-game img {
  width: 100px;
  height: 100px;
}


@media all and (max-width: 1200px) and (min-width: 992px) {

  .line-time-margin-left {
    margin-left: 30px;
  }

  .line-time-margin-right {
    margin-right: 30px;
  }


  .button-margin-left {
    margin-left: 10px;
  }

  .button-margin-right {
    margin-right: 10px;
  }

}

@media all and (max-width: 992px) {
  .div-timeline {
    display: none;
  }

  .rules-game {
    flex: 100%;
    max-width: 100%;
  }
}