html,
body {
  background-color: #40424d;
  color: #c1d7e3;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  line-height: 1.6;
}

.title {
  padding: 0.3em 0 0.3em 0.3em;
  font-size: 55px;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  float: left;
}

.header {
  grid-column: 1 / -1;
  clear: both;
}

/* Area de mensajes */

.content {
  text-align: center;
  min-width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  overflow-x: auto;
}

.card--result {
  background-color: #27322c;
  min-width: 400px;
  max-width: 600px;
  margin: 15px;
  position: relative;
  top: 0;
  left: 0;
}

.card--result .info {
  position: absolute;
  top: 0;
  font-size: 1em;
  padding-top: 0.4em;
}

.card--result .text {
  right: 0;
  color: #428198;
  padding-right: 0.6em;
  font-weight: 300;
}

.card--result .number {
  left: 0;
  color: #6557a2;
  padding-left: 0.4em;
  font-weight: 700;
}

/* Menu */

.input-menu {
  line-height: 1.4em;
}

.input-menu a {
  padding: 5px 0px;
  font-size: 1.1em;
  color: #a29c9c;
}

.input-menu a:hover {
  color: #8e7676;
}

.upper-margin {
  margin-top: 0.6em;
}

