* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #40424d;
  color: #c1d7e3;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  line-height: 1.6;
}

.title {
  padding: 0.3em 0 0.3em 0.3em;
  font-size: 55px;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  float: left;
}

.header {
  grid-column: 1 / -1;
  clear: both;
}

/* Menu */

.input-menu {
  line-height: 1.4em;
}

.input-menu a {
  padding: 5px 0px;
  font-size: 1.1em;
  color: #a29c9c;
}

.input-menu a:hover {
  color: #8e7676;
}

.upper-margin {
  margin-top: 0.6em;
}

