:root {
  /* Paleta de colores */
  --color-primary: #e1a462;
  --color-primary2: #b79272;
  --color-secondary: #68aec9;
  --color-secondary2: #a9d8de;
}

/*
-----HEADER------
*/

.media {
  background-color: var(--color-primary);
  font-size: 1.3rem;
}

.media-heading {
  font-weight: bold;
}

.media img {
  width: 168px;
  height: 90px;
}

.media-body {
  margin-top: 10px;
}

.media a img {
  margin: 20px;
  width: 30px;
  height: 30px;
}

/*
-----NAVBAR------
*/

.navbar {
  background-color: var(--color-primary2);
}

.navbar li {
  text-align: center;
  padding: 0 10px;
}

.navbar-nav li a {
  color: #000;
  text-decoration: none;
}

.navbar-nav li a:hover {
  background-color: var(--color-secondary);
  color: #fff;
  border-bottom: 3px solid var(--color-secondary2);
}

.navbar-nav li a:active {
  border-top-color: #27b3e6;
  border-bottom: #27b3e6;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/*
-----CARROUSEL------
*/

.carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .carousel-item img {
  max-height: 700px;
}

/*
-----NOTICIAS/AVISOS-----
*/

.noticias {
  margin-top: 10px;
}

.list-group-item:first-child {
  background-color: var(--color-secondary);
}

/*
----FOOTER----
*/

footer {
  background-color: #2ad874;
}

/*
---CONTENIDO REPETIDO---
*/

.jumbotron {
  background-color: var(--color-secondary2);
}
