:root {
  /* Paleta de colores */
  --color-primary: #e1a462;
  --color-primary2: rgba(232, 181, 137, 0.4);
  --color-secondary: #68aec9;
  --color-secondary2: #a9d8de;
}

h2,
h4,
h5 {
  font-weight: bold;
}


/*
-----$NAVBAR------
*/

.navbar {
  background-color: var(--color-primary2);
  padding: 15px;
}

.navbar li {
  text-align: center;
  padding: 0 10px;
}

.navbar-nav li a {
  color: #000;
  text-decoration: none;
}

.navbar-nav li a:hover {
  background-image: linear-gradient(#487e98, #96e0f2);
  color: #fff;
  border-radius: 5%;
}

.navbar img {
  width: 120px;
  height: 30px;
  text-align: center;
}

.navbar-text {
  background-image: url("../img/fondoLetras3.jpg");
  width: 100%;
  padding: 10px 8px;
  text-align: center;
}

.navbar-text h5 {
  font-size: 32px;
  display: inline;
  color: rgb(213, 128, 0);
  -webkit-text-stroke: 1px rgb(19, 19, 19);
}

.dropdown img {
  width: 30px;
  height: 30px;
}

.dropdown {
  float: right;
}


/*
-----$NOTICIAS/AVISOS-----
*/

.noticias {
  margin-top: 10px;
}

.list-group-item:first-child {
  background-color: var(--color-secondary);
}

/*
----$FOOTER----
*/

footer {
  background-color: var(--color-primary);
}

footer h4 {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: bold;
}

footer iframe {
  width: 350px;
  height: 350px;
}

footer span {
  padding-right: 20px;
}

footer .fa {
  font-size: 25px;
  padding: 5px;
  color: #000;
}

footer .fa:hover {
  text-decoration: none;
}