.book-frame {
  margin: auto;
  background: rgb(249, 242, 219);
  padding: 20px;
  border: 15px solid;
  border-top-color: #f8d393;
  border-bottom-color: #f8d393;
  border-right-color: #e2b05a;
  border-left-color: #e2b05a;
  box-shadow: 2px 2px 4px rgba;
}

.book-img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.book-frame:hover {
  transform: scale(1.10);
}

.img-zoom-container {
  position: relative;
  height: auto;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;

  /* set the size of the lens: */
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;

  /* set the size of the result div: */
  width: 300px;
  height: 300px;
}

#myimage {
  position: absolute;
  opacity: 1;
  z-index: 1;
}

#myresult {
  position: absolute;
  z-index: -1
}