.bookshelf {
  margin: 0 auto;
  border: 10px var(--brown) solid;
  background-size: 10px;
  background-color: #7A7668;
  padding: 10px;
}

.book-frame {
  margin: auto;
  background: rgb(249, 242, 219);
  padding: 20px;
  border: 15px solid;
  border-top-color: #f8d393;
  border-bottom-color: #f8d393;
  border-right-color: #e2b05a;
  border-left-color: #e2b05a;
  box-shadow: 2px 2px 4px rgba;
}

.book-img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-horizontal {
  max-height: 550px;
}

.modal-body {
  text-align: center;
}

.modal-body img:active {
  transform: translate(0, 15px) scale(1.65);
}