/********
---$Cartas estadíticas juego----
*********/

.cardgold {
  background-color: #ffd700;
}

.cardsilver {
  background-color: #c0c0c0;
}

.cardbronze {
  background-color: #cd7f32;
}

.card img {
  max-height: 130px;
  max-width: 80px;
  min-width: 40px;
  min-height: 20px;
}

.card-estadistica {
  border-color: var(--color-secondary);
  text-align: center;
}

.card-estadistica .card-header {
  background-color: var(--color-secondary);
}

.card-estadistica:hover {
  background-color: #e5fcfb;
  border: 2.5px solid var(--color-secondary);
  transform: scale(1.04);
}

/********
---$Reglas de juego---
********/

.reglas-juego {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
}

.reglas-juego img {
  border-radius: 30px;
}

.reglas-juego p::first-letter {
  color: #da452b;
  font-size: 300%;
  line-height: 10px;
}

.reglas-juego:hover {
  background-color: #de9184;
}
