/********
---$Reglas de juego---
********/

.rules {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 185px;
  border: 3px solid var(--color-secondary2);
}

.rules>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.rules img {
  max-width: 200px;
  max-height: 150px;
  padding: 10px;
}

.rules p::first-letter {
  color: #da452b;
  font-size: 300%;
  line-height: 10px;
}

.buttonrules {
  display: flex;
  justify-content: center;
}

.buttonrules button {
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 50%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  color: #FFF;
  background-color: #71b8d0;
}

/*******
---$SVG
********/

path {
  fill: #D1BE9D;
  stroke: #b4a488;
  stroke-width: 1.3px;
}

svg {
  background-color: #256d7b;
  border-radius: 50%;
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.selected-map {
  fill: var(--color-secondary);
}

/********
---$Podium----
*********/

.podium .card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

.cardgold {
  border: 2px solid #ffd700;
  background-color: #e6e0bc;
}

.cardsilver {
  border: 2px solid #c0c0c0;
  background-color: #f0f0f0;
}

.cardbronze {
  border: 2px solid #cd7f32;
  background-color: #e0ba95;
}

.card img {
  max-width: 50px;
  max-height: 50px;
}

/********
---$Cartas estadísticas----
*********/
.stats {
  align-items: center;
}

.card-deck {
  flex-flow: column;
}

.card-deck .card {
  border-color: var(--color-secondary);
  margin: 15px;
  text-align: center;
}

.card .card-header {
  background-color: var(--color-secondary);
}


/********
---$Cartas nacionalidades----
*********/

.country-stats {
  border: 2px solid var(--color-secondary);
  flex-direction: row;
}

.country-stats img {
  width: 75px;
  height: 75px;
}

/********
---$Registro----
*********/
.img-register {
  background: #EB4667;
}

.img-register2 {
  background: #164C4F;
}

.sticky {
  position: sticky;
  text-align: center;
  top: 0;
  left: 75%;
  padding: 30px;
  font-size: 20px;
  z-index: 1;
}

.sticky a {
  color: #fff;
  margin: 5px;
  padding: 20px;
  background: #f857a6;
  background: linear-gradient(to right, #ff5858, #f857a6);
  background: linear-gradient(to right, #ff5858, #f857a6);
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
  color: #fff;
}