/********
---$Cartas estadíticas juego----
*********/

.podium {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-podium {
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

.podium-position {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cardgold {
  border: 2px solid #ffd700;
  background-color: #e6e0bc;
}

.cardsilver {
  border: 2px solid #c0c0c0;
  background-color: #f0f0f0;
}

.cardbronze {
  border: 2px solid #cd7f32;
  background-color: #e0ba95;
}

.card img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 100%;
}

.podium1 {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
}

.podium2 {
  width: 100%;
  height: 200px;
  background-color: #e6e0bc;
}

.podium3 {
  width: 100%;
  height: 100px;
  background-color: #e0ba95;
}

.card-estadistica {
  border-color: var(--color-secondary);
  text-align: center;
}

.card-estadistica .card-header {
  background-color: var(--color-secondary);
}

.card-estadistica:hover {
  background-color: #e5fcfb;
  border: 2.5px solid var(--color-secondary);
  transform: scale(1.05);
}

/********
---$Reglas de juego---
********/

.reglas-juego {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
}

.reglas-juego img {
  border-radius: 30px;
}

.reglas-juego p::first-letter {
  color: #da452b;
  font-size: 300%;
  line-height: 10px;
}

.reglas-juego:hover {
  background-color: #de9184;
}