$dash-gradient: linear-gradient(
  60deg,
  #f79533,
  #f37055,
  #ef4e7b,
  #a166ab,
  #5073b8,
  #1098ad,
  #07b39b,
  #6fba82
);
$dash-gradient1: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab);
$dash-gradient2: linear-gradient(60deg, #5073b8, #1098ad, #07b39b, #6fba82);
$dash-panel-border: 10px;
$color-player-turn: rgb(163, 218, 184);
$color-oponent-turn: rgb(253, 127, 99);
$color-no-turn: rgb(175, 175, 175);

.prueba {
  color: red;
}

.gradient {
  background: $dash-gradient;
  animation: animatedgradient 10s ease alternate infinite;
  padding: 20px;
  border-radius: $dash-panel-border;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@mixin dash-button($font-size) {
  color: #fff;
  font-size: $font-size;
  background: $dash-gradient1;
  border-radius: 10px;
}

@mixin dash-button2($font-size, $type) {
  color: #fff;
  padding: 10px;
  font-size: $font-size;

  @if $type == "red" {
    background: $dash-gradient1;
  } @else if $type == "blue" {
    background: $dash-gradient2;
  }

  border-radius: 10px;
}

@mixin dash-card($background, $min-height) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  //min-height: 120px;
  min-height: $min-height;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  background: $background;
}

.dash-header-card {
  display: grid;
  grid-template: 0.5fr 1fr / 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 180px;
  font-size: 1rem;
  text-align: center;
  background: #f79533;

  .header {
    background: #f37055;
    padding-left: 7px;
    padding-right: 7px;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  max-width: 20px;
  max-height: 20px;
}

@mixin area-scroll($height) {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: $height;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin round-button($width, $height, $color, $background, $font-size) {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 50%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  width: $width;
  height: $height;
  font-size: $font-size;
  color: $color;
  background-color: $background;
}

.header-area-dash {
  text-align: center;
  margin-top: 30px;
}

.combo-area-dash {
  width: 120px;
  height: 40px;
  background-color: #22aec3;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
}
