
// Body
$body-bg: #40424d;

// tipografia
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #c1d7e3;

// header
$title-padding: 0.3em;

// Card-result
$card-bg: #27322c;

