
// Body
$body-bg: #40424d;

// tipografía
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #c1d7e3;

// header
$title-padding: 0.3em;

// Output-card
$card-bg: #27322c;
$info-type-color: rgb(79, 144, 167);
$info-order-color: rgb(111, 97, 170);;

