// Variables
@import "variables";

* { margin: 0; padding: 0; }

html,
body {
    background-color: $body-bg;
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    line-height: $line-height-base;
}

.title {
    padding: $title-padding 0 $title-padding $title-padding;
    font-size: 55px;
}

header {
    grid-column: 1 / -1;
    clear: both;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    float: left;
}

/* Menu */
.input-menu {
    line-height: 1.4em;

    a {
        padding: 5px 0px;
        font-size: 1.1em;
        color: rgb(162, 156, 156);

        &:hover {
            color:rgb(142, 118, 118);
        }
    }
}

.upper-margin {
    margin-top: 0.6em;
}

